/*blockquote {
	background: $grey-lt-100;
	border-radius: 0.5em;
	padding: 0.5em;
}*/

.admonition {
  border-left: $border-radius solid nth($blue-300, 1);
  border-radius: $border-radius;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
	padding-bottom: 0.2em;
	padding-left: 1em;
	padding-right: 1em;
	background: rgba($blue-000, .2);
}

.admonition-title {
	color: $blue-300;
	display: block;
	font-weight: bold;
	font-size: 1.05em;
	padding-bottom: 0.1rem;
}

$callouts: (
    note: ($blue-300, rgba($blue-000, .2), 'INFO'),
    caution: ($yellow-300, rgba($yellow-000, .2), 'WARNING'),
    danger: ($red-300, rgba($red-000, .2), 'DANGER')
);

@each $class, $props in $callouts {
    .#{$class} {
        background: nth($props, 2);
        border-left: $border-radius solid nth($props, 1);
        border-radius: $border-radius;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
        padding: .8rem;

        &::before {
            color: nth($props, 1);
            content: nth($props, 3);
            display: block;
            font-weight: bold;
            font-size: .75em;
            padding-bottom: .125rem;
        }
    }
}

blockquote.note {
  margin-left: 0;
  
  > p:first-child {
    margin-top: 0;
  }
    
  > p:last-child {
    margin-bottom: 0;
  }
}

tr:nth-child(even) {
  background-color: #f2f2f291;
}

@font-face {
  font-family: 'icomoon';
  src:  url('/assets/fonts/icomoon.eot?2xt42w');
  src:  url('/assets/fonts/icomoon.eot?2xt42w') format('embedded-opentype'),
    url('/assets/fonts/icomoon.ttf?2xt42w') format('truetype'),
    url('/assets/fonts/icomoon.woff?2xt42w') format('woff'),
    url('/assets/fonts/icomoon.svg?2xt42w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-A:before {
  content: "\e900";
}
.icon-B:before {
  content: "\e901";
}
.icon-Capture:before {
  content: "\e902";
}
.icon-Home:before {
  content: "\e903";
}
.icon-L:before {
  content: "\e904";
}
.icon-L-S:before {
  content: "\e905";
}
.icon-PressL-S:before {
  content: "\e906";
}
.icon-PressR-S:before {
  content: "\e907";
}
.icon-R:before {
  content: "\e908";
}
.icon-R-S:before {
  content: "\e909";
}
.icon-SL:before {
  content: "\e90a";
}
.icon-SR:before {
  content: "\e90b";
}
.icon-X:before {
  content: "\e90c";
}
.icon-Y:before {
  content: "\e90d";
}
.icon-ZL:before {
  content: "\e90e";
}
.icon-ZR:before {
  content: "\e90f";
}
