<head>
    <link rel="shortcut icon" type="image/x-icon" href="./assets/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon-apple.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon.ico">
    <link rel="shortcut icon" href="./assets/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="ACNH: FAQ"/>
    <meta name="twitter:image" content="https://chibisnorlax.github.io/acnhfaq/assets/logo_sq.png"/>
    <link rel="stylesheet" href="./assets/fonts/font.css">
    <script>
        const theme = localStorage.getItem('theme');
        if (theme === "light") {
            document.documentElement.setAttribute('data-theme', 'light');
            jtd.setTheme("light");
            console.log("beginning change to light");
        }
        console.log("other")
        if (theme === "dark") {
            document.getElementById("theme-toggle").innerHTML = "Light Mode";
            jtd.setTheme("custom");
            console.log("end change to dark");
        } else if (theme === "light") {
            document.getElementById("theme-toggle").innerHTML = "Dark Mode";
            jtd.setTheme("light");
            console.log("end change to light");
        } else {
            document.documentElement.setAttribute('data-theme', 'dark');
            window.localStorage.setItem('theme', 'dark');
            document.getElementById("theme-toggle").innerHTML = "Light Mode";
            jtd.setTheme("custom");
            console.log("end change to dark2");
        }

        function modeSwitcher() {
            console.log("function");
            let currentMode = document.documentElement.getAttribute('data-theme');
            if (currentMode === "dark") {
                document.documentElement.setAttribute('data-theme', 'light');
                window.localStorage.setItem('theme', 'light');
                document.getElementById("theme-toggle").innerHTML = "Dark Mode";
                jtd.setTheme("light");
                console.log("mode change to light3");
            } else {
                document.documentElement.setAttribute('data-theme', 'dark');
                window.localStorage.setItem('theme', 'dark');
                document.getElementById("theme-toggle").innerHTML = "Light Mode";
                jtd.setTheme("custom");
                console.log("mode change to dark3");
            }
        }
    </script>
</head>
